In [1]:
import pandas as pd

In [2]:
pwd

'/Users/songkim/Desktop'

In [3]:
cd /Users/songkim/Google\ Drive/Primary/Projects/VerbVector

/Users/songkim/Google Drive/Primary/Projects/VerbVector

In [11]:
raw = pd.read_csv('/Users/songkim/Google Drive/Primary/Projects/VerbVector/CREA/CREA_stimuli.csv')
raw.shape

(759, 50)

In [13]:
sh = raw[raw['Type']=='verb']
sh.shape
#sh.head()

(62, 50)

In [38]:
sh_cut = sh.reindex(columns=['Word', 'Context 1', 'Context 2', 'Context 3', 'Context 4', 'Context 5', 'Context 6', 'Context 7'])

In [39]:
sh_cut.head()

,Word,Context 1,Context 2,Context 3,Context 4,Context 5,Context 6,Context 7
658,approached,The yellow dog approached the friendly teacher.,The priest approached the lonely family.,The mob approached the embassy.,The car approached the river.,NaN,NaN,NaN
659,arrested,The soldier arrested the injured activist.,The policeman arrested the angry driver.,NaN,NaN,NaN,NaN,NaN
660,ate,The old farmer ate at the expensive hotel.,The dog ate the egg.,The commander ate chicken at dinner.,The tourist ate bread on vacation.,The reporter ate at the new restaurant.,NaN,NaN
661,blocked,The bicycle blocked the green door.,The cloud blocked the sun.,NaN,NaN,NaN,NaN,NaN
662,bought,The doctor bought the used boat.,The banker bought the expensive boat.,The diplomat bought the aggressive dog.,The parent bought the magazine.,The woman bought medicine at the store.,NaN,NaN

In [40]:
sh_cut.to_csv('/Users/songkim/Google Drive/Primary/Projects/VerbVector/CREA_verb_context.csv')

In [41]:
ratingraw = pd.read_csv('/users/songkim/Google Drive/Primary/Projects/VerbVector/crea_vratings_subtlex.csv')

In [42]:
ratingraw.shape

(62, 285)

In [43]:
rating_col = ratingraw.columns.to_list()
sh_cut_col = sh_cut.columns.to_list()

In [44]:
[x for x in sh_cut_col if x in rating_col]

['Word']

In [46]:
crea_verb_rating_context = pd.merge(ratingraw, sh_cut, on='Word')

In [48]:
crea_verb_rating_context.to_csv('/Users/songkim/Google Drive/Primary/Projects/VerbVector/CREA_vrating_context.csv')